<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <ul class="nav nav-inline" role="navigation">
                <li class="nav-item{{#IF page.name '==' 'home' }} active{{/IF}}"><a href="/" class="nav-link">HOME</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div id="usermenu"></div>
        </div>
    </div>
</div>
