@font-face {
    font-family: 'Press-Start-2P';
    src: url(../fonts/press_start_2p/PressStart2P-Regular.ttf);
}

*:focus {
    outline: 0!important;
}

ul {
    @include reset-list;
}

body {
    font-family: 'Press-Start-2P', monospace;
    color: #29203a;
    background: rgba(181, 157, 98, 0.42);
}

::-moz-selection { background: #00008b; }
::selection { background: #00008b; }

.isLoading {
    display: none;
}

.status-loading .isLoading {
    display: block;
}

.burger--item {
    padding: 10px;
    border: 1px solid #e0e0e0;
}

h1 {
    color: $yellow;
}

h2 {
    color: $cyan;
}

h3 {
    color: $pink;
}
