@font-face {
    font-family: 'Press Start 2P';
    src: url(../fonts/press_start_2p/PressStart2P-Regular.ttf);
}

body {
    font-family: 'Press Start 2P', monospace;
    color: #29203a;
    background: rgba(181, 157, 98, 0.42);
}

.isLoading {
    display: none;
}

.status-loading .isLoading {
    display: block;
}

.burger--item {
    padding: 10px;
    border: 1px solid #e0e0e0;
}
