body {
    font-family: monospace;
    color: #29203a;
}

.isLoading {
    display: none;
}

.status-loading .isLoading {
    display: block;
}

.burger--item {
    padding: 10px;
    border: 1px solid #e0e0e0;
}
