<!DOCTYPE html>
<html lang="en">
<head>
    {{> page/head }}
</head>
<body>
    <main role='main'>
        {{{ body }}}
    </main>
    <footer>
        {{> page/footer }}
    </footer>
    {{> page/scripts}}
</body>
</html>
